<div [ngClass]="{'disabled': modal}"></div>
<div class="modal" [ngClass]="{'show': modal}"  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button class="btn" [class]="btnType" (click)="action()">{{ btnLabel }}</button>
        <ul class="list-group">
          <li class="list-group-item vouch-item" *ngFor="let vouch of vouches$ | async" (click)="vouchme(vouch.from._id)">
              {{ vouch.from.profile.first_name + ' ' + vouch.from.profile.last_name }}
              <img src="http://via.placeholder.com/32x32" class="rounded">
              <span class="float-right">Jul 7, 2018</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModal()">Close</button>
      </div>
    </div>
  </div>
</div>