<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link" routerLinkActive="active"  href="javascript:void(0)" [routerLink]="['/user/profile']">Home</a>
  <a class="nav-link" routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/user/edit']">Settings</a>
  <a class="nav-link" routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/user/channels']">Channels</a>
  <a class="nav-link" routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/user/connections']">Vouch Connections</a>
  <a class="nav-link" href="javascript:void(0)" (click)="logout()">Logout</a>
</div>