<!-- Header -->
<app-header></app-header>
<!-- #header -->

<app-vouch-list 
  *ngIf="user"
  [modal]="modal" 
  (close)="isClosed()"
  [type]="type"
  [user]="user"
></app-vouch-list>

<app-modal
  *ngIf="user"
  [modal]="identityModal" 
  [title]="'Identification Documents'"
  (close)="closeIdentity()"
>
  <div class="modal-body">
    <img class="img-thumbnail" src="{{ baseUrl + 'images/' + user._id + '/' + user.profile.id1 }}">
  </div>
</app-modal>

<div class="container">

  <div class="container offset-md-1" *ngIf="user != null; else notfound">
    <div class="row mt-5">
      <div class="col-md">
        <div class="col-md">
          <h6 class="mt-2">Connections</h6>
          <ul class="list-group">
            <li *ngFor="let social of socials">
              <a target="_blank" [href]="social.url"><img class="img-thumbnail social-thumb" src="/assets/images/social/{{ social.icon }}"></a>
              <a class="social-link" target="_blank" [href]="social.url"> Go to {{ user.profile.first_name + ' ' + user.profile.last_name }} {{ social.name }} page</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="container">
          <h4>{{ user.profile.first_name + ' ' + user.profile.last_name }}</h4>
          <img class="rounder" src="{{ baseUrl + 'images/' + user._id + '/' + user.profile.picture }}">
        </div>
      </div>
     
    </div>
    <div class="row">
      <div class="col-md">
        <div class="container id-container">
          <h6 class="mt-2">Identifications</h6>
          <a href="javascript:void(0)" (click)="identity()">
            <img src="/assets/images/identity.png" class="img-thumbnail card-id">
          </a>
        </div>
      </div>
      <div class="col-md">
        <div class="container">
          <div class="rounder rounder-green" (click)="showModal('vouch')">
            <div class="aligner">
              Vouch Me!
            </div>
          </div>
        </div>  
      </div>
      <div class="col-md">
        <div class="container">
          <div class="rounder rounder-red">
            <div class="aligner" (click)="showModal('infame')">
              Infame
            </div>
          </div>
        </div>  
      </div>
    </div>

  </div>
  <ng-template #notfound>
    404 Not Found
  </ng-template>
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- #Footer -->
</div>