.search-box {
    height: 4rem;
    width: 70%;
}

.search-box-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 2rem;
}

.btn-facebook {
    background: #3B5998;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #263961; 
  }
  .btn-facebook:link, .btn-facebook:visited {
    color: #fff;
  }
  .btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
  }

.show {
    display: block !important;
}

.signup-container {
    margin-top: -1rem;
}

.loading {    
    background-color: #ffffff;
    background-image: url("/assets/images/loading.gif");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}
