.search-box {
    height: 4rem;
    width: 70%;
}

.search-box-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 2rem;
}

.btn-facebook {
    background: #3B5998;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #263961; 
  }
  .btn-facebook:link, .btn-facebook:visited {
    color: #fff;
  }
  .btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
  }

.show {
    display: block !important;
}

.signup-container {
    margin-top: -1rem;
}

// .dropdown-menu, ngb-typeahead-window {
//     width: 62.5rem !important;
// }

// #ngb-typeahead-0 {
//     width: 62.5rem !important;
// }

// ::ng-deep ngb-typeahead-window.dropdown-menu {
//     position:absolute;
//     width:calc(100% - 26.7rem);
//     // width: 62.5rem;
//     max-height: 300px;
//     overflow-y: auto;
// }