<div [ngClass]="{'disabled': modal}"></div>
<!-- Header -->
<app-header></app-header>
<!-- #header -->

<div class="container">
  <div class="row mt-5">

    <div class="col-md-2">
      <!-- sidebar menu -->
      <app-sidebar-menu></app-sidebar-menu>
      <!-- #header -->
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Social Connections <span class="edit" (click)="edit()">Add</span></h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let social of socials">
            {{ social.name }} - <a [href]="social.url" target="_blank">Link</a>
            <button type="button" class="close" aria-label="Close" (click)="delete(social._id)">
              <span aria-hidden="true">&times;</span>
            </button>
          </li>
        </ul>

    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- #Footer -->
</div>