<!-- Header -->
<app-header></app-header>
<!-- #header -->

<section class="h-100 my-login-page">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Login</h4>
            <form [formGroup]="form">
             
              <div class="form-group">
                <label for="username">E-Mail Address</label>

                <input id="username" type="email" class="form-control" formControlName="username">
              </div>

              <div class="form-group">
                <label for="password">Password
                  <a href="forgot.html" class="float-right">
                    Forgot Password?
                  </a>
                </label>
                <div style="position:relative">
                  <input id="password" type="password" class="form-control" formControlName="password" style="padding-right: 60px;">
                  <input type="hidden" id="passeye-0">
                  <div class="btn btn-primary btn-sm" id="passeye-toggle-0" style="position:absolute;right:10px;top:50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-o-transform:translate(0,-50%);padding: 2px 7px;font-size:12px;cursor:pointer;">Show</div>
                </div>
              </div>

              <div class="form-group">
                <label>
                  <input type="checkbox" name="remember"> Remember Me
                </label>
              </div>

              <div class="form-group no-margin">
                <button  (click)="login()" type="submit" class="btn btn-primary btn-block">
                  Login
                </button>
              </div>
              <div class="margin-top20 text-center">
                Don't have an account? <a routerLink="/user/signup">Create One</a>
              </div>
            </form>
          </div>
        </div>
        <div class="footer">
          Copyright © {{ currentYear }} — VouchMe 
        </div>
      </div>
    </div>
  </div>
</section>